:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.footer-shadow {
  box-shadow: 0 -1px 3px 0 rgb(0 0 0 / 0.1), 0 -1px 2px -1px rgb(0 0 0 / 0.1);
}

.collapse-arrow-toggle {
  position: relative;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
}

.collapse-arrow-toggle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.5rem;
  height: 0.5rem;
  transform-origin: 75% 75%;
  transform: translate(-50%, -50%) rotate(225deg);
  box-shadow: 2px 2px;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.collapse-arrow-toggle.expanded::after {
  transform: translate(-50%, -100%) rotate(45deg);
}

.detail-panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.detail-panel-open {
  max-height: 50dvh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.product-card {
  grid-template-rows: 1fr 0fr;
  outline: 2px solid transparent;
  transition: outline-color 200ms ease;
}

.product-card:not(.collapse-close):has(> input:checked) {
  grid-template-rows: 1fr max-content;
}

.card-selected {
  outline-color: var(--color-primary);
}

@keyframes product-highlight {
  0% {
    background-color: var(--color-base-200);
    animation-timing-function: ease;
  }
  25% {
    background-color: oklch(from var(--color-primary) l c h / 0.1);
  }
  75% {
    background-color: oklch(from var(--color-primary) l c h / 0.1);
    animation-timing-function: ease;
  }
  100% { background-color: var(--color-base-200); }
}

.product-highlight {
  animation: product-highlight 2s;
}

.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-input {
  -moz-appearance: textfield;
  appearance: textfield;
}
